<%-include ("partials/header"); %>

<h1>HOME</h1>
<p><%= homeContent %></p>



<% blogPosts.forEach(function(post) { %>

   <h1> <%= post.title %> </h1>
   <p> <%= post.contents%></p>



<%})%>


<%-include ("partials/footer"); %>
